
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style type="text/css">
    body{
    background-color: #ffffff;
}
</style>

<body>
    <div id="register">
        <h3 class="text-center text-white pt-5"></h3>
        <div class="container">
            <div id="sign_up-row" class="row justify-content-center aling-items-center">
                <div id="sign_up-column" class="col-md-6">
                    <div class="sign_up-box col-md-12">
                    <!--- register section of the page --->
                    <form action="register" method="POST">
                        <h3 class="text-center text-info"><font  size="12" face="times new roman"><strong>Sign Up </strong></font></h3>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="text" name="email" class="form-control"><br/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" class="form-control"><br/>
                        <div class="form-group">   
                        <input type="submit" name="Register"class="btn btn-info btn-md" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body> 