
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- index.css stylesheet -->
<link rel="stylesheet" href="index.css" type="text/css">
<!-- Theme Made By ww.w3schools.com - No Copyright-->
<tite> Bootstrap Theme Simpy Me</tite>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- This helps for the navbar-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style type="text/css">
body{
    font:20px Montserrat, san-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {font-size: 16px;}
.margin {
  margin-bottom: 45px;
}
.bg-1 {
  background-color: #1abc9c; /*Green*/
  color: #ffffff;
}
.bg-2 {
  background-color: #474e5d; /*Dark Blue*/
  color: #ffffff;
}
.bg-3 {
  background-color: #bf00ff; /*White*/
  color: #000000;
} 
.bg-4 {
  background-color: #ffffff;
  color: #000000;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}

footer {
  background-color: #ffffff;
}
</style>

 <!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Master Tracker</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">About Master Tracker</h3>
  <p>In today’s age of cord-cutting and subscription-based services, people are rapidly accumulating many recurring fees.  It is often difficult to keep track of which service we are subscribed to and when we’re being charged.  There should be some way to keep track of which services a person is paying for and when they’ll be charged again.</p>
</div>
 
 <!-- Third Container -->
 <div class="container-fluid bg-3
 text-center">
    <h3 class="margin">How Does It Work</h3>
    <p>Forgot you were paying for that gym? No longer need that subscription? <strong>Master Tracker</strong> can help cancel unwanted accounts and keep track of the ones you do use.</p>
    <p>Master Tracker</strong>, we believe in transparency and the power of technology to improve people’s lives. We built a system that analyzes your specific financial situation and works to improve it.</p>
    <p>At <strong>Master Tracker</strong>, we believe in transparency and the power of technology to improve people’s lives. We built a system that analyzes your specific financial situation and works to improve it.</</p>
</div>

<!-- Fourth Conatianer -->
<div class="container-fluid bg-4
  text-center">
  <h3 class="margin">Our Mission</h3>
  <p>We’ve got your back
        <br>There are so many services out there that can help you simplify different parts of your life. Want to find a decent restaurant? Trying to book a cheap flight in a hurry? Need diapers shipped to your house by tomorrow? Done, done and done.</br>
        <br>So why can’t your financial life be just as simple?</br>
        <br>That’s why we designed Master Tracker.</br></p>
</div>


<!--- Discription of the websit. -- 
<div class="container">
  <h1 class="display-3" style="color:#66cccc"><font face="times new roman"><b>MASTER TRACKER</b></font></h1>

    <p style="color: #000000"><font face="times new roman" size="4">Do you have too many accounts and are having a hard time keeping track? Let us help you!</font></p>

  <h2 class="display-3" style="color:#66cccc"><font face="times new roman"><b>About</b></font></h2>
    
    <p style="color: #000000"><font face="times new roman" size="4">In today’s age of cord-cutting and subscription-based services, people are rapidly accumulating many recurring fees.  It is often difficult to keep track of which service we are subscribed to and when we’re being charged.  There should be some way to keep track of which services a person is paying for and when they’ll be charged again.</font></p>
  
  <p><a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign Up &raquo;</a></p>

  <h3 class="display-3" style="color: #66cccc"><font face="times new roman">
    How Does It Work?</font></h3>

    <p><font face="times new roman" size="4">Forgot you were paying for that gym? No longer need that subscription? <strong>Master Tracker</strong> can help cancel unwanted accounts and keep track of the ones you do use.</font></p>

    <p><font face="times new roman" size="4">At <strong>Master Tracker</strong>, we believe in transparency and the power of technology to improve people’s lives. We built a system that analyzes your specific financial situation and works to improve it.</font></p>

    <h4 class="display-3" style="color: #66cccc"><font face="times new roman">Our Mission</font></h4>

    <p><font face="times new roman" size="4"><br>We’ve got your back</br>.
        <br>There are so many services out there that can help you simplify different parts of your life. Want to find a decent restaurant? Trying to book a cheap flight in a hurry? Need diapers shipped to your house by tomorrow? Done, done and done.</br>
        <br>So why can’t your financial life be just as simple?</br>
        <br>That’s why we designed Master Tracker.</br>
</div> -->

<!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i href="#"class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i href="#" class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#">
              <i href="#" class="fa fa-github"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0"><font size="4">Copyright &copy; Your Website 2018</font></p>
      </div>
    </footer>



 