<!-- junbotron -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- index.css stylesheet -->
<link rel="stylesheet" href="index.css" type="text/css">
<!-- Theme Made By ww.w3schools.com - No Copyright-->
<tite> Bootstrap Theme Simpy Me</tite>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- This helps for the navbar-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style type="text/css">
body{
    font:20px Montserrat, san-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

.jumbotron{
  background-color: #f4511e; /*Orange*/
  color: #ffffff;
  padding: 100px 25px;
}

.logo{
  font-size: 200px;
}

@media screen and (max-width: 768){
  .col-sm-4{
    text-align: center;
    margin: 25px 0;
  }
}
h3 {
  font-size: 30px;
}

p {
  font-size: 16px
}

.margin {
  margin-bottom: 45px;
}
.bg-1 {
  background-color: #1abc9c; /*Green*/
  color: #ffffff;
}
.bg-2 {
  background-color: #474e5d; /*Dark Blue*/
  color: #ffffff;
}
.bg-3 {
  background-color: #1b1d71; /*White*/
  color: #ffffff;
} 
.bg-4 {
  background-color: #ffffff;/*color*/
  color: #000000;
}
.container-fluid {
  padding: 60px 50px;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}

footer {
  background-color: #000000;
  padding-top: 3rem;
}
</style>

 <!-- Jumbotron -->
<div class="jumbotron text-center">
  <h1>Master Tracker</h1>
  <p>Making finacing easier</p>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <div class="col-sm-8">
    <h3 class="margin"><strong>About Master Tracker</strong></h3>
       <p>In today’s age of cord-cutting and subscription-based services, people are rapidly accumulating many recurring fees.  It is often difficult to keep track of which service we are subscribed to and when we’re being charged.  There should be some way to keep track of which services a person is paying for and when they’ll be charged again.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>
 
 <!-- Third Container -->
 <div class="container-fluid bg-3
 text-center">
    <h3 class="margin"><strong>How Does It Work</strong></h3>
    <p>Forgot you were paying for that gym? No longer need that subscription? <strong>Master Tracker</strong> can help cancel unwanted accounts and keep track of the ones you do use.</p>
    <p>Master Tracker</strong>, we believe in transparency and the power of technology to improve people’s lives. We built a system that analyzes your specific financial situation and works to improve it.</p>
    <p>At <strong>Master Tracker</strong>, we believe in transparency and the power of technology to improve people’s lives. We built a system that analyzes your specific financial situation and works to improve it.</</p>
</div>

<!-- Fourth Conatianer -->
<div class="container-fluid bg-4
  text-center">
  <div class="col-sm-4">
  <span class="glyphicon glyphicon-globe logo"></span>
</div>
  <div class="col-sm-8">
    <h3 class="margin"><strong>Our Mission</strong>
    </h3>
    <p>We’ve got your back
        <br>There are so many services out there that can help you simplify different parts of your life.</br>
        <br> Want to find a decent restaurant?</br> 
        <br>Trying to book a cheap flight in a hurry? Need diapers shipped to your house by tomorrow? Done, done and done.</br>
        <br>So why can’t your financial life be just as simple?</br>
        <br>That’s why we designed Master Tracker.</br>
      </p>
    </div>
</div>

<!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i href="#"class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i href="#" class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#">
              <i href="#" class="fa fa-github"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0"><font size="4">Copyright &copy; Your Website 2018</font></p>
      </div>
    </footer>



 