

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!-- collapsed navbar-->
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><font size="4">Home</font><span class="sr-only">(current)</span></a>
      </li> 

<!-- If cx is logged in but hasn't upgraded, this will apear -->
      <% if current_user && !current_user.pro %>
        <li class="nav-item">
          <a class="nav-link" href="/upgrade"><font size="4">Upgrade</font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><font size="4">Logout</font></a>
        </li>
<!-- If cx has logged in and upgraded, this will appear -->
      <% elsif current_user && current_user.pro %>
        <li class="nav-item">
          <a class="nav-link" href="/plaid">Plaid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
          <a class="nav-link" href="/login"><font size="4">Login</font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sign_up"><font size="4">Sign Up</font></a>
        </li>
<!-- If cx has not logged in, this will appear -->
        <% else %>
         <li class="nav-item">
           <a class="nav-link" href="/login">Login</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/sign_up">Sign Up</a>
         </li>
      <% end %>


    </ul>
  </div>
</nav>
