body, 
html {
	width: 100%;
	height:100%;
}
body {
	font-family: 'Source Sans Pro';
}
.jumbotron {
	background-image: 
url("../img/tumblr_inline_pd2u82GMVG1spvpit_540.png");
background-size: cover;
padding: 230px 0;
margin: 15px;
}

.container h1 {
	color: #FFFFFF;
}

.container p {
	color: #FFFFFF;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}

a {
  color: #3300cc;
}

a:hover, a:focus, a:active {
  color: #3300cc;
}

